@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: block;
	font-weight: 200;
	src: url('@fontsource/poppins/files/poppins-latin-200-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: block;
	font-weight: 300;
	src: url('@fontsource/poppins/files/poppins-latin-300-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: block;
	font-weight: 400;
	src: url('@fontsource/poppins/files/poppins-latin-400-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: block;
	font-weight: 500;
	src: url('@fontsource/poppins/files/poppins-latin-500-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: block;
	font-weight: 600;
	src: url('@fontsource/poppins/files/poppins-latin-600-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: block;
	font-weight: 700;
	src: url('@fontsource/poppins/files/poppins-latin-700-normal.woff2') format('woff2');
}

:root {
	font-family: 'Poppins';
	color: #101010;
	background: #ffffff;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	--accent: #6032EC;
	--muted: #3f3f3f;
	--border: #eeeeee;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	min-height: 100%;
}

body {
	font-family: inherit;
	background: #ffffff;
}

main, header, footer{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding: 16px;
}


h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.5;
}

h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
}

h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
}

@media screen and (min-width:768px) and (max-width:1024px) {
	h1{
		font-size: 40px;
	}

	h2{
		font-size: 28px;
	}

	h3{
		font-size: 20px;
	}
}

@media screen and (max-width:768px) {
	
	h1{
		font-size: 32px;
	}

	h2{
		font-size: 24px;
	}

	h3{
		font-size: 16px;
	}
}
